# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/

# Environment variables
.env

# Databases (Ignore user DB, keep Quran DB if you want it tracked, though it's usually large)
dev_bot_v2.db
# quran.db  # Uncomment if you don't want to commit the static Quran database
